<footer>
  <div class='row'>
    <div class='col-lg-6'>
      <p>Copyright &copy; {{ site.sitename }} {{ site.time | date: '%Y' }}</p>
      <p><a href='https://github.com/clbokea/clbokea.github.io/tree/gh-pages?tab=readme-ov-file#contributions'>Contributers</a></p>
      <p><a href='https://github.com/clbokea/clbokea.github.io/'>Github Repository</a></p>
    </div>
    
    <div class='col-lg-6'>
    
	    <i><small>If you want to dig a little deeper in the data used on this site: <a href="https://github.com/cats-and-the-city/explainer">Explainer Notebook</a></small></i>
    
    </div>
  </div>
</footer>
